.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p, li, h2{
  color: grey;
}

.drinks-list{
  background-color: #6cbace;
  padding: 12px;
  max-width: 500px;
}

.card-drinks{
  background-color: white;
  margin: 0;  
  border-radius: 8px !important;
  margin: 8px 0px;
  
}

.card-drink{  
  margin: 0;
  padding: 12px;  
 
}

img{
  border-radius: 8px;
}

.drink-page{
  background-color: #6cbace;
  padding: 12px;
}

.drink-info p{
  margin-left: 15px;
};


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
